.apresentacao{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin: 2em;
    height: auto;
    width: auto;   
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    
}

.apresentacao__conteudo__titulo {
    color: var(--cor-terciaria);
    font-size: 20px;
}
.apresentacao__conteudo__titulo__none{
    display: none;
}
.apresentacao__conteudo__titulo__1280{
    display: block;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__subtitulo{
    border:solid;
    border-radius: 8px;
    border-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    padding: 1em 0.5em 1em 1em;
    font-size: 18px;
}

.apresentacao__conteudo__atencao {
    color: var(--cor-terciaria);
}

.titulo_Destaque{
    color: var(--cor-terciaria);
}

.apresentacao__links{
    display:grid;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.img__links{
    width: 10%;
}

.apresentacao__links__subtitulo{
    color: var(--cor-terciaria);
    font-size: 20px;
}

.apresentacao__links__links{
    text-decoration: none;
    color: var(--cor-secundaria);
    border: solid;
    border-radius: 8px;
    border-color: var(--cor-terciaria);
    margin: 0 75px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10%;
    padding: 5px;
    
}

.apresentacao__conteudo__subtitulo__certificados{
    border: none;
    text-decoration:underline;
    color: var(--cor-terciaria);
}

.apresentacao__links__certificados{
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 1em;
}

.apresentacao__conteudo__texto__certificados{
    font-size: 14px;
    color: var(--cor-terciaria);
}

.apresentacao__links__projetos{
    display:grid;
    align-items: center;
    justify-content: center;
    gap: 1em;
    
}

.tab {
    overflow:hidden;
}

.tab button {
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    background-color: var(--cor-primaria);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: var(--cor-hover);
}

.tab button.active {
    background-color: var(--cor-hover);
}

.tabcontent {
    display: none;
    padding: 20px;
    border: none;
}

.accordion {
    margin: 20px;
}

.accordion-button {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    transition: background-color 0.3s;
}

.accordion-button:hover {
    background-color: var(--cor-hover);
}

.accordion-content {
    display: none;
    padding: 10px;
    border: none;
    border-top: none;
}



@media screen and (min-width: 1024px){
    .apresentacao{
        margin-top: 5em;
        padding: 0 8em;
    }

    .apresentacao__links{
        margin-top: 5em;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .apresentacao__links__contatos{
        width: 50%;
        
    }
  
}

@media screen and (min-width: 1280px ) {
    .apresentacao__index{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        gap: 10px; 
        
        
    }
    
    .apresentacao__conteudo{
        width: 60%;
        align-items: center;
        padding: 0 1em;
    }

    .apresentacao__conteudo__titulo__none{
        display: block;
        color: var(--cor-terciaria);
    }
    .apresentacao__conteudo__titulo__1280{
        display: none;
    }

    .apresentacao__links{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .apresentacao__links__contatos{
        width: 30%;
       
        
    }
    .tab {
        display: flex;
        overflow:hidden;
    }

    .tab button {
        padding: 10px 30px;
    }
   
}
